<div class="bg-slate-700 Contenedor">
<h1>Crear Productos</h1>
      <form class="example-form"  [formGroup] = "formProduct" (ngSubmit)="CreateProduct()">
        
        <mat-form-field class="example-full-width">

          <mat-label>Nombre del producto</mat-label>
          <input matInput placeholder="Name Product" formControlName="title" type="text">

        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="Price" type="number" formControlName="price">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Descripción</mat-label>
          <input matInput placeholder="description" type="text" formControlName="description">
        </mat-form-field>  

        <mat-form-field class="example-full-width">
          <mat-label>Categoría</mat-label>
          <input matInput placeholder="Category" type="text" formControlName="categoryId">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Imágenes</mat-label>
          <input matInput placeholder="images" type="url" formControlName="images">
        </mat-form-field>

          <button type="submit" [disabled]="formProduct.invalid" [ngClass]="{falso: formProduct.invalid}">Crear Producto</button>
        
      </form>
</div>
