
<div class="wrapper">
    <header>
        <nav class="navbar">
            <div class="brand">
                <h2>J <span>E</span> </h2>
            </div>
            <ul class="menu">
                <li ><a class="active" href="#">Home</a></li>
                <li><a href="#">About me</a></li>
                <li><a href="#">Portafolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <div class="info-content">
            <h1>Yo <span>Juan Esteban</span> Salazar</h1>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero ratione esse, adipisci iure recusandae, numquam quisquam fugit nihil asperiores tempore nisi, molestiae repellendus ullam minima? Reprehenderit ratione sed autem temporibus.</p>
    
            <a download href="#">
                <button class="download-cv">Descargar Hoja de vida</button>
            </a>
        </div>
        <img src="" alt="No hay imagen">
    </main>
    
</div>

<div class="about">
    <img src="" alt="No hay imagen">

    <div class="about-info">
        <h2>About me</h2>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas ipsam numquam eum voluptatem culpa rem nostrum nam corrupti quisquam alias! Mollitia modi voluptatem atque velit eos magnam quasi praesentium ad.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus accusamus repellat, magnam id suscipit consectetur? Dolorem voluptatum, quasi eligendi animi sed harum iste perferendis hic porro sapiente neque inventore! Sint?</p>
        <button class="download-cv">Read more</button>
    </div>
</div>

<div class="portafolio">
    <div class="portafolio-headings">
        <h2>Mi Portafolio</h2>
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card__img"></div>
            <div class="card__title">
                <h2>Project Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum maxime blanditiis tenetur, non accusantium obcaecati neque voluptates vero nam excepturi quos ab cum ratione itaque veniam eaque vitae! Maxime, esse?</p>
            </div>
            <div class="card__project-links">
                <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://docs.angular.lat/" target="_blank"><i class="fa-brands fa-angular"></i></a>
                
            </div>

            <div class="project-details-content">
                <button class="project-details download-cv">
                    <a href="">Detalles del projecto</a>
                </button>
            </div>

        </div>
    </div>
</div>

